.trans{
	position:absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}
.enc{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-image: url(../img/fondoHeader.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover
}
.trans h1{
	text-align: center;
	color: #fff;
	padding-top: 20%;
}
.trans h3{
	text-align: center;
	color: #fff;
	margin-top: 2%;
}

.sig{
	position:absolute;
	top: 100%;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}
#social-container{
	position: fixed;
	top: calc(100vh / 2.7);
	right: -0.3rem;
	background: rgba(0,0,0,0.4);
	z-index: 100;
	padding: 1%; 
	border-radius:0.3rem;
}
#social-container i{
	font-size: 2rem;
}